@model Email
<link rel="stylesheet" href="~/css/cadastrar.css" asp-append-version="true" />
<form asp-action="enviar" method="post">
  <div class="form-group">
    <label asp-for="ToEmail">Enviar para Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
    <div class="form-group">
    <label asp-for="ToName">Assunto</label>
  <input asp-for="ToName" class="form-control" type="text" placeholder="Default input">
    </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Categoria</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Requisicao</option>
      <option>Incidente</option>
    </select>
  </div>
  <div class="form-group">
    <label asp-for="Subject">Descricao</label>
    <textarea asp-for="Subject" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="form-group">
      <label for="exampleFormControlFile1">Anexar arquivo</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
</form>
